<h1>Collections <small> View All</small></h1>
<h2><a href="#create" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create New</a></h2>

<!-- Directives to display common elements across views (error message, loader)-->
<error show="isError"></error>
<loader show="isLoading"></loader>

<!-- Collection Grid -->
<div class="row" ng-if="!isLoading">
  <!-- Empty query template -->
  <empty show="collections.length == 0"></empty>
  <div class="col-sm-6 col-md-4" ng-repeat="collection in collections">
    <!-- Tile -->
    <div class="thumbnail">
      <div class="caption text-center wrap">
        <h3>{{collection.tag}}</h3>
        <h6>{{collection.time_start | date:'medium'}} - {{collection.time_end | date:'medium'}}</h6>
        <a href="#view?collection={{collection._id}}" class="btn btn-default btn-block" role="button">View&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
