<h1>Collections <small> {{collection.tag}}</small></h1>

<!-- Top nav elements-->
<h2>
  <a href="#all" class="btn btn-lg btn-default text-right landing-button"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</a>
</h2>

<!-- Directives to display common elements across views (error message, loader)-->
<error show="isError"></error>
<loader show="isLoading"></loader>


<!-- Content to show once the query is finished loading-->
<div ng-if="!isLoading">
  <!-- Empty query template -->
  <empty show="contents.length == 0"></empty>
  <!-- Tile grid -->
  <div class="row">
    <!-- Tile element -->
    <div class="col-xs-6 col-sm-3 col-md-2 tile-container" ng-repeat="content in contents" >
      <a href="" data-toggle="modal" data-target="#myModal" ng-click="selectedContent.content = content">
        <div class="tile-content">
          <div class="">
            <img src="{{content.images.low_resolution.url}}" alt="Post Removed" class="img-responsive">
          </div>
          <div class="tile-play" ng-if="content.type == 'video'">
            <i class="fa fa-play" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Dummy div to make tile square -->
        <div class="dummy">
        </div>
      </a>
    </div>
  </div>
  <!-- "Loading More" popup -->
  <div class="navbar navbar-default navbar-fixed-bottom" ng-show="isLoadingMore" >
    <div class="text-center">
      <h3><i class="fa fa fa-gear fa-spin" aria-hidden="true"></i>&nbsp;Looking for more content</h3>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog collection-modal" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{selectedContent.content.user.username}}'s post about #{{collection.tag}} ({{selectedContent.content.tagTime | date:'medium'}})</h4>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <div class="row">
            <!-- Full-size image -->
            <div class="col-md-7">
              <a href="{{selectedContent.content.link}}" target="_blank" ng-if="selectedContent.content.type == 'image'">
                <img ng-src="{{selectedContent.content.images.standard_resolution.url}}" class="img-responsive"/>
              </a>
              <video width="400" controls ng-if="selectedContent.content.type == 'video'" src="{{selectedContent.content.videos.standard_resolution.url}}">
                Your browser does not support HTML5 video.
              </video>
            </div>
            <!-- Right hand side content -->
            <div class="col-md-5">
              <!-- User tile -->
              <div class="user-tile">
                <div class="row modal-section">
                  <!-- Link to page -->
                  <a href="https://instagram.com/{{selectedContent.content.user.username}}" target="_blank">
                    <!-- Profile pic -->
                    <div class="col-xs-4">
                      <img src="{{selectedContent.content.user.profile_picture}}" class="img-responsive"/>
                    </div>
                    <!-- Name and @username -->
                    <div class="col-xs-8">
                      <div class="vertical-center-parent">
                        <div class="user-full-name vertical-center">
                          {{selectedContent.content.user.full_name}} ({{selectedContent.content.user.username}})
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <!-- Tags -->
              <div class="tags-tile modal-section">
                <span class="label-tag"  ng-repeat="tag in selectedContent.content.tags">
                  <a href="https://www.instagram.com/explore/tags/{{tag}}/" target="_blank">
                    <span class="label label-primary">
                      #{{tag}}
                    </span>
                  </a>
                  &nbsp;
                </span>
              </div>
              <!-- Caption -->
              <div class="caption-tile modal-section">
                {{selectedContent.content.caption.text}}
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a href="{{selectedContent.content.link}}" class="btn btn-primary" target="_blank">Visit Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
