/* General Styling */
html {}

.page	{
	margin-top: 50px;
}

.page h1 {}

/* Page Specific Styling */
.page-home{}

.page-about {}

.page-contact {}

/* Nav Bar */
.navbar-top {
	z-index : 1;
}

/* Animations */
.ng-leave {
	-webkit-animation: fadeOut 0s both ease-in;
	-moz-animation: fadeOut 0s both ease-in;
	animation: fadeOut 0s both ease-in;
}
.ng-enter {
  -webkit-animation: fadeIn 0.3s both ease-in;
	-moz-animation: fadeIn 0.3s both ease-in;
	animation: fadeIn 0.3s both ease-in;
}

/* fade in animation */
@keyframes fadeIn {
	from 	{ opacity: 0; }
	to 		{ opacity: 1; }
}
@-moz-keyframes fadeIn {
	from 	{ opacity: 0; }
	to 		{ opacity: 1; }
}
@-webkit-keyframes fadeIn {
	from 	{ opacity: 0; }
	to 		{ opacity: 1; }
}

/* fade out animation */
@keyframes fadeOut {
	from 	{ opacity: 1; }
	to 		{ opacity: 0; }
}
@-moz-keyframes fadeOut {
	from 	{ opacity: 1; }
	to 		{ opacity: 0; }
}
@-webkit-keyframes fadeOut {
	from 	{ opacity: 1; }
	to 		{ opacity: 0; }
}

/* Loader */
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	-webkit-transform: -webkit-translate(-50%, -50%);
	-moz-transform: -moz-translate(-50%, -50%);
}

.loader {
	font-size: 10em;
	/*-webkit-animation: loader-fade-in-out 3s infinite;
  animation: loader-fade-in-out 3s infinite;*/
}


@keyframes loader-fade-in-out {
		0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.empty {
	font-size: 5em;
}

.reload {
	margin-top:100px;
}

/* Image tiles*/
.tile-dummy {
  margin-top: 100%;
}
.tile-content {
	-webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.tile-content:hover{
	box-shadow: 0px 0px 20px white;
}

.tile-container {
	padding:3px 3px;
	position: relative;
}

.tile-play {
	z-index:1;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 5em;
}

/* Collection Modal */
.collection-modal {
	width: 70%;
}

.label-tag {
	margin:1px 1px;
}

.modal-section {
	margin: 5px 0px;
	word-wrap: break-word;
}

.vertical-center-parent{
  position: relative;
}

.vertical-center {
  transform: translateY(50%);
}

.user-full-name {
	color: white;
}

/* Landing */
.landing-button {}

.landing-button-group {
	margin-top: 50px;
}

/* View All */
.wrap {
	word-wrap: break-word;
}

/* DATE TIME PICKER FROM */
.datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
}

.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 130px;
}

.datetimepicker-wrapper [ng-model=hours],
.datetimepicker-wrapper [ng-model=minutes] {
  width: 60px !important;
}

.create-input-tag {
	margin-top: 40px;
	height: 40px;
}

.create-button {
	margin-top: 50px;
}
